/* Google Font - poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
}

.container{
    position: relative;
    background-image: url("images.jpeg");
    background-size: cover;
    padding: 25px;
    border-radius: 25px;
    height: 225px;
    max-width: 380px;
    width: 100%;
    box-shadow: 10px 10px 10px rgba(94, 255, 255, 0.2);
}

header .logo{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

h4{
    color: antiquewhite;
    font-size: 15px;
    font-weight: 400;   
    margin-right: 100px;
}

.logo img{
    width: 50px;
    margin-right: 10px;
}

header .chip{
    width: 70px;
}

h6, h5{
    color: antiquewhite;
    font-size: 15px;
    font-weight: 400;
}

h5 .number{
    margin-top: 4px;
    font-size: 18px;
    letter-spacing: 1px;
}

h5 .name{
    margin-top: 4px;
}

.container .card-details{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}